.paragraph {
    color: red;
    text-align: right;
    margin-left: 30px;
    font-size: 40px;
}

.paragraph-2 {
    color: #c8102e;
    text-align: left;
    margin-left: 30px;
    font-size: 30px;
}

.header {
    font-weight: 800;
    font-size: 30px;
}
.blue {
    color: blue;
}
.italic {
    font-style: italic;
}

.width-100 {
    width:100%;
}